/* Mainly used to reset default styles and set up a consistent base */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'SignPainter';
  src: url('./assets/fonts/signpainter.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


